Repository rodneyosodo/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools, Users Auth Changes, Things Auth Changes, Messaging Changes

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/things/policies/auth.proto, .semaphore/users/policies/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
  Users Auth Changes: any of: .semaphore/users/policies/auth.proto
  Things Auth Changes: any of: .semaphore/things/policies/auth.proto
  Messaging Changes: any of: .semaphore/pkg/messaging/message.proto

Simplify checkSubject
  things/policies/service.go
Due: none

Remove secret when returning user
  api/openapi/users.yml
  pkg/sdk/go/users_test.go
  users/clients/service.go
  users/clients/service_test.go
Due: Lint and Test PKG

Remove secret on list all users
  pkg/clients/clients.go
  pkg/clients/postgres/clients.go
  pkg/clients/postgres/clients_test.go
Due: Lint and Test PKG

Remove Secret on list all things
  api/openapi/things.yml
Due: none

Fix Share Thing To Add External To Request
  pkg/sdk/go/policies.go
  pkg/sdk/go/policies_test.go
  pkg/sdk/go/things.go
Due: Lint and Test PKG

Comment External on SDK policy
  pkg/sdk/go/policies.go
Due: Lint and Test PKG

Enable Jestream on Nats
  docker/.env
  docker/brokers/nats.yml
  docker/docker-compose.yml
  docker/nats/nats.conf
Due: none

Update verbosity
  docker/brokers/nats.yml
  docker/nats/nats.conf
Due: none

Add Comment to docker compose project name
  Makefile
Due: none

Combine actions and thingID to cache
  things/policies/mocks/channels.go
  things/policies/policies.go
  things/policies/redis/policies.go
  things/policies/service.go
Due: none

Change contents of cached policy
  things/policies/mocks/channels.go
  things/policies/policies.go
  things/policies/redis/policies.go
  things/policies/service.go
Due: none

Change signature of things cache
  things/policies/mocks/channels.go
  things/policies/policies.go
  things/policies/redis/policies.go
  things/policies/service.go
Due: none

Add cached policy stuct
  things/policies/mocks/channels.go
  things/policies/policies.go
  things/policies/redis/policies.go
  things/policies/service.go
Due: none

Fix Tests
  pkg/sdk/go/users_test.go
  things/policies/mocks/channels.go
Due: Lint and Test PKG

Set all values for cachedPolicy after missing values in cache
  things/policies/redis/policies.go
  things/policies/service.go
Due: none

Fix missing environment variables in docker-compose.yml
  docker/.env
  docker/docker-compose.yml
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
Due: none

Add Support For Google Login
  cmd/users/main.go
  internal/apiutil/errors.go
  users/clients/api/transport.go
  users/clients/service.go
  users/jwt/jwt.go
  users/jwt/tokens.go
  users/oauth/google.go
  users/postgres/init.go
Due: Lint and Test Internal

Fix Docker environment variable substitution in Makefile
  Makefile
  cmd/users/main.go
  users/clients/api/transport.go
Due: none

Fix typo in function name in transport.go and google.go
  users/clients/api/transport.go
  users/oauth/google.go
Due: none

Fix error in RegisterClient test
  users/clients/mocks/clients.go
  users/clients/service_test.go
Due: none

Add initial send invitation email
  cli/users.go
  cmd/users/main.go
  consumers/notifiers/smtp/notifier.go
  docker/.env
  docker/docker-compose.yml
  docker/templates/users.tmpl
  internal/email/email.go
  pkg/sdk/go/requests.go
  pkg/sdk/go/sdk.go
  pkg/sdk/go/users.go
  users/clients/api/endpoints.go
  users/clients/api/logging.go
  users/clients/api/metrics.go
  users/clients/api/requests.go
  users/clients/api/responses.go
  users/clients/api/transport.go
  users/clients/clients.go
  users/clients/emailer.go
  users/clients/emailer/emailer.go
  users/clients/events/events.go
  users/clients/events/streams.go
  users/clients/mocks/email.go
  users/clients/service.go
  users/clients/tracing/tracing.go
  users/jwt/jwt.go
  users/jwt/tokens.go
Due: Lint and Test Internal, Lint and Test PKG

feat(api): minor modifications to sendinvite
  docker/templates/users.tmpl
  users/clients/api/logging.go
  users/clients/api/transport.go
  users/clients/service.go
  users/jwt/jwt.go
Due: none

Add tests
  api/openapi/users.yml
  pkg/sdk/go/users_test.go
  users/clients/service_test.go
Due: Lint and Test PKG

Fix proxy pass location in nginx config
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
Due: none

feat(messaging): Add support for durable consumers
  pkg/messaging/nats/pubsub.go
Due: Lint and Test PKG

Add consumers description
  pkg/messaging/nats/pubsub.go
Due: Lint and Test PKG

Fix connection leak in NATS publisher
  pkg/messaging/nats/publisher.go
  pkg/messaging/nats/pubsub.go
Due: Lint and Test PKG

feat(messaging): add function to format consumer name
  pkg/messaging/nats/pubsub.go
  pkg/messaging/nats/pubsub_test.go
Due: Lint and Test PKG

Use inline error handling
  pkg/messaging/nats/publisher.go
Due: Lint and Test PKG

Add Stream Description
  pkg/messaging/nats/publisher.go
  pkg/messaging/nats/pubsub.go
  pkg/messaging/nats/pubsub_test.go
Due: Lint and Test PKG

Add extra configs to stream
  pkg/messaging/nats/pubsub.go
Due: Lint and Test PKG

Replace Nats with Nats Jestream For PubSub
  cmd/cassandra-writer/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-writer/main.go
  cmd/lora/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-writer/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/ws/main.go
  docker/.env
  pkg/messaging/brokers/brokers_nats.go
  pkg/messaging/brokers/brokers_rabbitmq.go
  pkg/messaging/nats/publisher.go
  pkg/messaging/nats/pubsub.go
  pkg/messaging/nats/pubsub_test.go
  pkg/messaging/nats/setup_test.go
  pkg/messaging/rabbitmq/pubsub.go
  pkg/messaging/rabbitmq/setup_test.go
  vendor/github.com/nats-io/nats.go/jetstream/README.md
  vendor/github.com/nats-io/nats.go/jetstream/api.go
  vendor/github.com/nats-io/nats.go/jetstream/consumer.go
  vendor/github.com/nats-io/nats.go/jetstream/consumer_config.go
  vendor/github.com/nats-io/nats.go/jetstream/errors.go
  vendor/github.com/nats-io/nats.go/jetstream/jetstream.go
  vendor/github.com/nats-io/nats.go/jetstream/message.go
  vendor/github.com/nats-io/nats.go/jetstream/options.go
  vendor/github.com/nats-io/nats.go/jetstream/ordered.go
  vendor/github.com/nats-io/nats.go/jetstream/publish.go
  vendor/github.com/nats-io/nats.go/jetstream/pull.go
  vendor/github.com/nats-io/nats.go/jetstream/stream.go
  vendor/github.com/nats-io/nats.go/jetstream/stream_config.go
  vendor/modules.txt
Due: Lint and Test PKG

Remove unused queue variable
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/setup_test.go
Due: Lint and Test PKG

Subscribe using wildcard
  pkg/messaging/nats/pubsub_test.go
Due: Lint and Test PKG

feat : remove internal logic to keep subscribers
  pkg/messaging/nats/pubsub.go
  pkg/messaging/nats/pubsub_test.go
Due: Lint and Test PKG

feat(docker): update auth env vars in compose
  docker/addons/bootstrap/docker-compose.yml
  docker/addons/cassandra-reader/docker-compose.yml
  docker/addons/certs/docker-compose.yml
  docker/addons/influxdb-reader/docker-compose.yml
  docker/addons/mongodb-reader/docker-compose.yml
  docker/addons/postgres-reader/docker-compose.yml
  docker/addons/smpp-notifier/docker-compose.yml
  docker/addons/smtp-notifier/docker-compose.yml
  docker/addons/timescale-reader/docker-compose.yml
  docker/addons/twins/docker-compose.yml
Due: none
