Repository rodneyosodo/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools, Users Auth Changes, Things Auth Changes, Messaging Changes

Check Generated Protocol Buffer Files:
  jobs:
  - name: Check Generated Protocol Buffer Files
    commands:
  ...

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Users
    commands:
    - cd users
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build Users:
  jobs:
  - name: Build Users
    commands:
    - make users

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Things
    commands:
    - cd things
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build Things:
  jobs:
  - name: Build Things
    commands:
    - make things

Lint and Test CoAP:
  jobs:
  - name: Lint CoAP
    commands:
    - cd coap
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test CoAP
    commands:
    - cd coap
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build CoAP:
  jobs:
  - name: Build CoAP
    commands:
    - make coap

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test HTTP
    commands:
    - cd http
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build HTTP:
  jobs:
  - name: Build HTTP
    commands:
    - make http

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test MQTT
    commands:
    - cd mqtt
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build MQTT:
  jobs:
  - name: Build MQTT
    commands:
    - make mqtt

Lint and Test WS:
  jobs:
  - name: Lint WS
    commands:
    - cd ws
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test WS
    commands:
    - cd ws
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build WS:
  jobs:
  - name: Build WS
    commands:
    - make ws

Lint and Test Bootstrap:
  jobs:
  - name: Lint Bootstrap
    commands:
    - cd bootstrap
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Bootstrap
    commands:
    - cd bootstrap
  ...

Build Bootstrap:
  jobs:
  - name: Build Bootstrap
    commands:
    - make bootstrap

fix(notifiers): wrap with create entity error
  consumers/notifiers/service.go
  pkg/auth/client_test.go
  pkg/sdk/go/bootstrap_test.go
  pkg/sdk/go/certs.go
Due: Lint and Test PKG

chore(journal): rename db prefix from JOURNAL_ to JOURNAL_DB_
  cmd/journal/main.go
  docker/.env
Due: none

feat(auth): add policy caching
  auth/README.md
  auth/cache/doc.go
  auth/cache/policies.go
  auth/cache/policies_test.go
  auth/cache/setup_test.go
  auth/policies.go
  auth/spicedb/policies.go
  cmd/auth/main.go
  docker/.env
  docker/docker-compose.yml
Due: none

feat(revoke-tokens): Store revoked tokens
  auth/api/http/keys/endpoint.go
  auth/api/http/keys/endpoint_test.go
  auth/api/http/keys/requests.go
  auth/api/http/keys/requests_test.go
  auth/api/http/keys/transport.go
  auth/api/logging.go
  auth/api/metrics.go
  auth/cache/policies_test.go
  auth/cache/tokens.go
  auth/cache/tokens_test.go
  auth/events/streams.go
  auth/jwt/token_test.go
  auth/jwt/tokenizer.go
  auth/mocks/cache.go
  auth/mocks/service.go
  auth/mocks/token.go
  auth/policies.go
  auth/postgres/init.go
  auth/postgres/token.go
  auth/service.go
  auth/service_test.go
  auth/tokenizer.go
  auth/tracing/tracing.go
  cmd/auth/main.go
Due: none

Updated go.mod and go.sum files with new packages and updated dependencies.
  go.mod
  go.sum
  pkg/messaging/kafka/publisher.go
  pkg/messaging/kafka/pubsub.go
Due: Lint and Test PKG

Fix typo
  pkg/messaging/kafka/doc.go
Due: Lint and Test PKG

feat: enable exporting profiles and logs to grafana stack
  cmd/auth/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/invitations/main.go
  cmd/mqtt/main.go
  cmd/things/main.go
  cmd/users/main.go
  cmd/ws/main.go
  go.mod
  go.sum
Due: none

feat: add LGTM stack
  cmd/auth/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/invitations/main.go
  cmd/mqtt/main.go
  cmd/things/main.go
  cmd/users/main.go
  cmd/ws/main.go
  docker/.env
  docker/docker-compose.yml
  docker/grafana/datasources/datasource.yaml
  docker/loki/loki-config.yaml
  docker/prometheus/prometheus.yaml
  docker/pyroscope/pyroscope.yml
  docker/tempo/tempo.yaml
Due: none

Add qodana.yaml file
  qodana.yaml
Due: none

Add github workflow file
  .github/workflows/qodana_code_quality.yml
Due: none

fix: remove verneMQ as MQTT broker
  .github/workflows/check-license.yaml
  cmd/mqtt/main.go
  docker/.env
  docker/README.md
  docker/docker-compose.yml
  docker/vernemq/Dockerfile
  docker/vernemq/bin/vernemq.sh
  docker/vernemq/files/vm.args
  go.mod
  go.sum
  mqtt/README.md
  mqtt/forwarder.go
  mqtt/tracing/doc.go
  mqtt/tracing/forwarder.go
  pkg/messaging/mqtt/docs.go
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/pubsub_test.go
  pkg/messaging/mqtt/setup_test.go
Due: Lint and Test PKG

fix: update go version in pipelines
  .github/workflows/api-tests.yml
  .github/workflows/build.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/tests.yml
Due: none

fix: return MQTT forwarder to publish messages to clients
  cmd/mqtt/main.go
  coap/adapter.go
  docker/.env
  go.mod
  mqtt/README.md
  mqtt/handler.go
  mqtt/handler_test.go
  mqtt/mocks/publisher.go
  pkg/messaging/mqtt/publisher.go
  test.sh
  ws/adapter.go
  ws/client.go
  ws/handler.go
Due: Lint and Test PKG

Revert "NOISSUE - Use NATS as MQTT broker (#2681)"
  .github/workflows/api-tests.yml
  .github/workflows/build.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/check-license.yaml
  .github/workflows/tests.yml
  cmd/mqtt/main.go
  docker/.env
  docker/README.md
  docker/docker-compose.yml
  docker/vernemq/Dockerfile
  docker/vernemq/bin/vernemq.sh
  docker/vernemq/files/vm.args
  go.mod
  go.sum
  mqtt/README.md
  mqtt/forwarder.go
  mqtt/tracing/doc.go
  mqtt/tracing/forwarder.go
  pkg/messaging/mqtt/docs.go
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/pubsub_test.go
  pkg/messaging/mqtt/setup_test.go
Due: Lint and Test PKG

feat: replace NATS with RabbitMQ as the default MQTT broker
  .github/workflows/check-license.yaml
  docker/.env
  docker/README.md
  docker/docker-compose.yml
  docker/rabbitmq/enabled_plugins
  docker/rabbitmq/rabbitmq.conf
  docker/vernemq/Dockerfile
  docker/vernemq/bin/vernemq.sh
  docker/vernemq/files/vm.args
Due: none

feat: MQTT Target username and password for authenticated remotes
  cmd/mqtt/main.go
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/setup_test.go
Due: Lint and Test PKG

chore: upgrade go modules
  .github/workflows/api-tests.yml
  .github/workflows/build.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/tests.yml
  docker/.env
  go.mod
  go.sum
Due: none

test: add auth handler POC
  Makefile
  cmd/mqtt/main.go
  cmd/rabbitmq-auth/main.go
  docker/docker-compose.yml
  docker/rabbitmq/enabled_plugins
  docker/rabbitmq/rabbitmq.conf
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/setup_test.go
  rabbitmq-auth/api/transport.go
Due: Lint and Test PKG

fix: remove rabbitmq config files from license check
  .github/workflows/check-license.yaml
  cmd/mqtt/main.go
Due: none

fix: add autoreconnect and retry connect when creating new mqtt client
  go.sum
  pkg/messaging/mqtt/pubsub.go
Due: Lint and Test PKG

chore: update docker images for jaeger, nats and rabbitmq
  docker/docker-compose.yml
Due: none

feat: use RabbitMQ as default MQTT and Message Broker
  Makefile
  cmd/auth/main.go
  cmd/channels/main.go
  cmd/clients/main.go
  cmd/coap/main.go
  cmd/domains/main.go
  cmd/groups/main.go
  cmd/http/main.go
  cmd/journal/main.go
  cmd/mqtt/main.go
  cmd/users/main.go
  cmd/ws/main.go
  coap/README.md
  docker/.env
  docker/README.md
  docker/docker-compose.yml
  http/README.md
  mqtt/README.md
  pkg/messaging/README.md
  pkg/messaging/brokers/brokers_nats.go
  pkg/messaging/brokers/brokers_rabbitmq.go
  pkg/messaging/brokers/tracing/brokers_nats.go
  pkg/messaging/brokers/tracing/brokers_rabbitmq.go
  tools/config/golangci.yml
  users/README.md
  ws/README.md
Due: Lint and Test PKG, Lint and Test Tools

Revert "test: add auth handler POC"
  Makefile
  cmd/mqtt/main.go
  cmd/rabbitmq-auth/main.go
  docker/docker-compose.yml
  docker/rabbitmq/enabled_plugins
  docker/rabbitmq/rabbitmq.conf
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/setup_test.go
  rabbitmq-auth/api/transport.go
Due: Lint and Test PKG

chore: update go modules
  go.mod
  go.sum
Due: none

fix(linter): move copyright above build tags
  pkg/messaging/brokers/tracing/brokers_rabbitmq.go
Due: Lint and Test PKG

fix(websocket): authorization was not working for clients
  ws/adapter.go
  ws/handler.go
Due: none

refactor: use rabbitmq auth rather than MQTT adapter
  Makefile
  cmd/mqtt/main.go
  cmd/rabbitmq-auth/main.go
  docker/.env
  docker/docker-compose.yml
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
  docker/nginx/snippets/mqtt-upstream-cluster.conf
  docker/nginx/snippets/mqtt-upstream-single.conf
  docker/nginx/snippets/mqtt-ws-upstream-cluster.conf
  docker/nginx/snippets/mqtt-ws-upstream-single.conf
  docker/rabbitmq/enabled_plugins
  docker/rabbitmq/rabbitmq.conf
  go.mod
  mqtt/README.md
  mqtt/doc.go
  mqtt/events/doc.go
  mqtt/events/events.go
  mqtt/events/streams.go
  mqtt/forwarder.go
  mqtt/handler.go
  mqtt/handler_test.go
  mqtt/mocks/publisher.go
  mqtt/tracing/doc.go
  mqtt/tracing/forwarder.go
  pkg/messaging/mqtt/docs.go
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/pubsub_test.go
  pkg/messaging/mqtt/setup_test.go
  rabbitmq-auth/api/doc.go
  rabbitmq-auth/api/endpoint.go
  rabbitmq-auth/api/request.go
  rabbitmq-auth/api/response.go
  rabbitmq-auth/api/trasport.go
  rabbitmq-auth/doc.go
  rabbitmq-auth/service.go
  test.sh
Due: Lint and Test PKG

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/things/policies/auth.proto, .semaphore/users/policies/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
  Users Auth Changes: any of: .semaphore/users/policies/auth.proto
  Things Auth Changes: any of: .semaphore/things/policies/auth.proto
  Messaging Changes: any of: .semaphore/pkg/messaging/message.proto
