Repository rodneyosodo/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools, Users Auth Changes, Things Auth Changes, Messaging Changes

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/things/policies/auth.proto, .semaphore/users/policies/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
  Users Auth Changes: any of: .semaphore/users/policies/auth.proto
  Things Auth Changes: any of: .semaphore/things/policies/auth.proto
  Messaging Changes: any of: .semaphore/pkg/messaging/message.proto

chore(docker): update jaeger image
  docker/docker-compose.yaml
Due: none

fix(ci): remove cd on pull request
  .github/workflows/build.yaml
Due: none

revert buildx
  .github/workflows/build.yaml
  Makefile
  docker/Dockerfile
Due: none

SMQ-3108 - Add support for public and private metadata for users and clients (#3155)
  api/grpc/users/v1/users.pb.go
  apidocs/openapi/clients.yaml
  apidocs/openapi/users.yaml
  cli/clients_test.go
  cli/users_test.go
  clients/api/http/endpoints.go
  clients/api/http/endpoints_test.go
  clients/api/http/requests.go
  clients/api/http/requests_test.go
  clients/clients.go
  clients/events/events.go
  clients/middleware/logging.go
  clients/postgres/clients.go
  clients/postgres/clients_test.go
  clients/postgres/init.go
  clients/service.go
  clients/service_test.go
  docker/addons/certs/docker-compose.yaml
  internal/proto/users/v1/users.proto
  pkg/clients/events/consumer/decode.go
  pkg/sdk/clients.go
  pkg/sdk/clients_test.go
  pkg/sdk/setup_test.go
  pkg/sdk/users.go
  pkg/sdk/users_test.go
  users/api/endpoint_test.go
  users/api/endpoints.go
  users/api/grpc/client.go
  users/api/grpc/server.go
  users/api/requests.go
  users/events/events.go
  users/events/streams.go
  users/events/streams_test.go
  users/middleware/logging.go
  users/postgres/init.go
  users/postgres/users.go
  users/postgres/users_test.go
  users/service.go
  users/service_test.go
  users/users.go
Due: Lint and Test Internal, Lint and Test PKG

NOISSUE - Remove public metadata, introduce private metadata (#3322)
  api/grpc/users/v1/users.pb.go
  apidocs/openapi/clients.yaml
  apidocs/openapi/users.yaml
  cli/clients_test.go
  cli/users_test.go
  clients/api/http/endpoints.go
  clients/api/http/endpoints_test.go
  clients/api/http/requests.go
  clients/clients.go
  clients/events/events.go
  clients/middleware/logging.go
  clients/postgres/clients.go
  clients/postgres/clients_test.go
  clients/postgres/init.go
  clients/service.go
  clients/service_test.go
  internal/proto/users/v1/users.proto
  pkg/clients/events/consumer/decode.go
  pkg/errors/repository/types.go
  pkg/sdk/clients.go
  pkg/sdk/clients_test.go
  pkg/sdk/setup_test.go
  pkg/sdk/users.go
  pkg/sdk/users_test.go
  users/api/endpoint_test.go
  users/api/endpoints.go
  users/api/grpc/client.go
  users/api/grpc/server.go
  users/api/requests.go
  users/events/events.go
  users/events/streams_test.go
  users/middleware/logging.go
  users/postgres/init.go
  users/postgres/users.go
  users/postgres/users_test.go
  users/service.go
  users/service_test.go
  users/users.go
Due: Lint and Test Internal, Lint and Test PKG

NOISSUE - Refactor `makefile` (#3318)
  Makefile
  README.md
Due: none

NOISSUE - Fix Invitations and remove Domain check in AuthZ (#3340)
  auth/service.go
  auth/service_test.go
  domains/middleware/authorization.go
  pkg/policies/evaluator.go
  pkg/roles/rolemanager/middleware/authorization.go
Due: Lint and Test PKG

NOISSUE - Use the latest stable Go version instead of RC (#3349)
  docker/Dockerfile
Due: none
