Repository rodneyosodo/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools, Users Auth Changes, Things Auth Changes, Messaging Changes

Check Generated Protocol Buffer Files:
  jobs:
  - name: Check Generated Protocol Buffer Files
    commands:
  ...

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Users
    commands:
    - cd users
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build Users:
  jobs:
  - name: Build Users
    commands:
    - make users

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Things
    commands:
    - cd things
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build Things:
  jobs:
  - name: Build Things
    commands:
    - make things

Lint and Test CoAP:
  jobs:
  - name: Lint CoAP
    commands:
    - cd coap
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test CoAP
    commands:
    - cd coap
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build CoAP:
  jobs:
  - name: Build CoAP
    commands:
    - make coap

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test HTTP
    commands:
    - cd http
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build HTTP:
  jobs:
  - name: Build HTTP
    commands:
    - make http

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test MQTT
    commands:
    - cd mqtt
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build MQTT:
  jobs:
  - name: Build MQTT
    commands:
    - make mqtt

Lint and Test WS:
  jobs:
  - name: Lint WS
    commands:
    - cd ws
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test WS
    commands:
    - cd ws
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build WS:
  jobs:
  - name: Build WS
    commands:
    - make ws

Lint and Test Bootstrap:
  jobs:
  - name: Lint Bootstrap
    commands:
    - cd bootstrap
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Bootstrap
    commands:
    - cd bootstrap
  ...

Build Bootstrap:
  jobs:
  - name: Build Bootstrap
    commands:
    - make bootstrap

Remove Unused gRPC Req and Resp
  twins/mocks/auth.go
  users/policies/auth.pb.go
  users/policies/auth.proto
Due: none

Remove gRPC unused functions
  bootstrap/mocks/users.go
  consumers/notifiers/mocks/auth.go
  things/clients/mocks/auth.go
  things/clients/standalone/standalone.go
  users/clients/mocks/authn.go
  users/policies/api/grpc/client.go
  users/policies/api/grpc/endpoint.go
  users/policies/api/grpc/requests.go
  users/policies/api/grpc/responses.go
  users/policies/api/grpc/transport.go
  users/policies/auth.pb.go
  users/policies/auth.proto
  users/policies/auth_grpc.pb.go
Due: none

Remove Altprefix
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/cassandra-writer/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/influxdb-writer/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  internal/clients/grpc/auth/client.go
  internal/clients/grpc/things/client.go
  internal/env/parser.go
  internal/env/parser_test.go
Due: Lint and Test Internal

Remove Server Parse
  internal/env/parser.go
Due: Lint and Test Internal

Rename HttpPort to HTTPPort
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/cassandra-writer/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/influxdb-writer/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  internal/env/load.go
Due: Lint and Test Internal

Add Provision For TLS on CoAP
  internal/server/coap/coap.go
Due: Lint and Test Internal

Fix envPrefixDB After Rebase
  cmd/influxdb-reader/main.go
  cmd/influxdb-writer/main.go
  cmd/postgres-reader/main.go
Due: none

Sync Env Vars With Master
  cmd/bootstrap/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/mongodb-reader/main.go
  cmd/twins/main.go
  docker/.env
  docker/addons/bootstrap/docker-compose.yml
  docker/addons/certs/docker-compose.yml
  docker/addons/influxdb-reader/docker-compose.yml
  docker/addons/mongodb-reader/docker-compose.yml
  docker/addons/provision/docker-compose.yml
  docker/addons/smpp-notifier/docker-compose.yml
  docker/addons/smtp-notifier/docker-compose.yml
  docker/addons/timescale-reader/docker-compose.yml
  docker/addons/timescale-writer/docker-compose.yml
  docker/addons/twins/docker-compose.yml
  docker/docker-compose.yml
  docker/nginx/entrypoint.sh
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
  http/README.md
  scripts/run.sh
Due: none

Fix Exit After Defer
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/cassandra-writer/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/influxdb-writer/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/provision/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
Due: none

Remove Unused Function
  cmd/coap/main.go
  internal/server/coap/coap.go
  pkg/sdk/go/certs.go
  pkg/sdk/go/groups.go
  pkg/sdk/go/users.go
  things/clients/service.go
Due: Lint and Test Internal, Lint and Test PKG

Add defer statement
  internal/clients/redis/producer.go
Due: Lint and Test Internal

Combine Redis Publishing
  bootstrap/redis/producer/events.go
  bootstrap/redis/producer/streams.go
  internal/clients/redis/producer.go
  mqtt/redis/events.go
  mqtt/redis/streams.go
  things/clients/redis/events.go
  things/clients/redis/streams.go
  things/groups/redis/events.go
  things/groups/redis/streams.go
  things/policies/redis/events.go
  things/policies/redis/streams.go
Due: Lint and Test Internal

Use Channel Instead of Array
  internal/clients/redis/producer.go
Due: Lint and Test Internal

Make Redis Producer Safe For Concurrent Use
  bootstrap/redis/producer/streams.go
  mqtt/redis/streams.go
  things/clients/redis/streams.go
  things/groups/redis/streams.go
  things/policies/redis/streams.go
Due: none

Reliably Publish Event Messages to Redis
  bootstrap/redis/producer/streams.go
  bootstrap/redis/producer/streams_test.go
  cmd/bootstrap/main.go
  cmd/mqtt/main.go
  cmd/things/main.go
  mqtt/redis/streams.go
  things/clients/redis/streams.go
  things/groups/redis/streams.go
  things/policies/redis/streams.go
Due: none

Adding `occurred_at`
  internal/clients/redis/producer.go
Due: Lint and Test Internal

Add More Tests
  bootstrap/redis/producer/streams.go
  bootstrap/redis/producer/streams_test.go
Due: none

Remove Unused Const
  bootstrap/redis/producer/streams.go
  mqtt/redis/streams.go
  things/clients/redis/streams.go
  things/groups/redis/streams.go
  things/policies/redis/streams.go
Due: none

Hanndle When Channel Is Full
  internal/clients/redis/producer.go
Due: Lint and Test Internal

Check For Non NIL Error on Publishing
  internal/clients/redis/producer.go
Due: Lint and Test Internal

Fix Check `occurred_at`
  bootstrap/redis/producer/streams_test.go
Due: none

Fix Issue After Rebase
  bootstrap/redis/producer/streams.go
  bootstrap/redis/producer/streams_test.go
Due: none

Fix Tests
  bootstrap/redis/producer/streams.go
  bootstrap/redis/producer/streams_test.go
Due: none

Initial Commit: Sync Env Veriables With Docker Deployment
  docker/.env
  docker/docker-compose.yml
  docker/nginx/entrypoint.sh
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
  scripts/run.sh
Due: none

Sync Env Vars With Master
  docker/.env
  docker/docker-compose.yml
  docker/nginx/entrypoint.sh
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
  scripts/run.sh
Due: none

Initial Commit: Add Tags to Database and Message Bus
  cmd/bootstrap/main.go
  cmd/cassandra-writer/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-writer/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  docker/.env
  docker/nginx/entrypoint.sh
  internal/postgres/tracing.go
  pkg/messaging/tracing/publisher.go
  pkg/messaging/tracing/pubsub.go
  things/clients/postgres/clients_test.go
  things/clients/postgres/setup_test.go
  things/groups/postgres/groups_test.go
  things/groups/postgres/setup_test.go
  things/policies/postgres/policies_test.go
  things/policies/postgres/setup_test.go
  users/clients/postgres/clients_test.go
  users/clients/postgres/setup_test.go
  users/groups/postgres/groups_test.go
  users/groups/postgres/setup_test.go
  users/policies/postgres/policies_test.go
  users/policies/postgres/setup_test.go
Due: Lint and Test Internal, Lint and Test PKG

Format Address Well
  internal/postgres/tracing.go
  pkg/messaging/tracing/publisher.go
Due: Lint and Test Internal, Lint and Test PKG

Propagate Context
  cmd/lora/main.go
  coap/api/transport.go
  ws/api/endpoints.go
Due: none

Add Tracing To MQTT Adapter
  cmd/mqtt/main.go
  mqtt/tracing/forwarder.go
  pkg/messaging/tracing/publisher.go
Due: Lint and Test PKG

Update PostgresSQL spans
  cmd/bootstrap/main.go
  cmd/certs/main.go
  cmd/things/main.go
  cmd/users/main.go
  internal/postgres/tracing.go
  things/clients/postgres/setup_test.go
  things/groups/postgres/setup_test.go
  things/policies/postgres/setup_test.go
  users/clients/postgres/setup_test.go
  users/groups/postgres/setup_test.go
  users/policies/postgres/setup_test.go
Due: Lint and Test Internal

Update Message Bus Spans
  cmd/cassandra-writer/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-writer/main.go
  cmd/lora/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-writer/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/ws/main.go
  pkg/messaging/tracing/publisher.go
  pkg/messaging/tracing/pubsub.go
Due: Lint and Test PKG

Fix Error After Rebase
  cmd/postgres-writer/main.go
Due: none

Fix Issue After Rebase
  docker/.env
  docker/nginx/entrypoint.sh
  pkg/messaging/rabbitmq/pubsub_test.go
Due: Lint and Test PKG

shorten span names
  bootstrap/api/transport.go
  certs/api/transport.go
  coap/api/transport.go
  consumers/notifiers/api/transport.go
Due: none

Combine Tracing and PubSub
  cmd/cassandra-writer/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-writer/main.go
  cmd/lora/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-writer/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/ws/main.go
  pkg/messaging/brokers/brokers_nats.go
  pkg/messaging/brokers/brokers_rabbitmq.go
  pkg/messaging/nats/tracing/doc.go
  pkg/messaging/nats/tracing/publisher.go
  pkg/messaging/nats/tracing/pubsub.go
  pkg/messaging/rabbitmq/pubsub.go
  pkg/messaging/rabbitmq/tracing/doc.go
  pkg/messaging/rabbitmq/tracing/publisher.go
  pkg/messaging/rabbitmq/tracing/pubsub.go
  pkg/messaging/tracing/publisher.go
  pkg/messaging/tracing/tracing.go
Due: Lint and Test PKG

Reorder Server Config
  cmd/bootstrap/main.go
  cmd/mongodb-reader/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/users/main.go
Due: none

Seperate Tracing
  cmd/cassandra-writer/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-writer/main.go
  cmd/lora/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-writer/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/ws/main.go
  http/api/transport.go
  internal/postgres/tracing.go
  pkg/messaging/brokers/brokers_nats.go
  pkg/messaging/brokers/brokers_rabbitmq.go
  pkg/messaging/brokers/tracing/brokers_nats.go
  pkg/messaging/brokers/tracing/brokers_rabbitmq.go
  pkg/messaging/rabbitmq/setup_test.go
Due: Lint and Test Internal, Lint and Test PKG

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/things/policies/auth.proto, .semaphore/users/policies/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
  Users Auth Changes: any of: .semaphore/users/policies/auth.proto
  Things Auth Changes: any of: .semaphore/things/policies/auth.proto
  Messaging Changes: any of: .semaphore/pkg/messaging/message.proto
