Repository rodneyosodo/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools, Users Auth Changes, Things Auth Changes, Messaging Changes

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/things/policies/auth.proto, .semaphore/users/policies/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
  Users Auth Changes: any of: .semaphore/users/policies/auth.proto
  Things Auth Changes: any of: .semaphore/things/policies/auth.proto
  Messaging Changes: any of: .semaphore/pkg/messaging/message.proto

fix(rabbitmq): route messages to messages echange
  docker/rabbitmq/rabbitmq.conf
Due: none

Revert "NOISSUE - Use NATS as MQTT broker (#2681)"
  .github/workflows/api-tests.yml
  .github/workflows/build.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/check-license.yaml
  .github/workflows/tests.yml
  cmd/mqtt/main.go
  docker/.env
  docker/README.md
  docker/docker-compose.yml
  docker/vernemq/Dockerfile
  docker/vernemq/bin/vernemq.sh
  docker/vernemq/files/vm.args
  go.mod
  go.sum
  mqtt/README.md
  mqtt/forwarder.go
  mqtt/tracing/doc.go
  mqtt/tracing/forwarder.go
  pkg/messaging/mqtt/docs.go
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/pubsub_test.go
  pkg/messaging/mqtt/setup_test.go
Due: Lint and Test PKG

fix(linter): move copyright above build tags
  pkg/messaging/brokers/tracing/brokers_rabbitmq.go
Due: Lint and Test PKG

feat: use RabbitMQ as default MQTT and Message Broker
  Makefile
  cmd/auth/main.go
  cmd/channels/main.go
  cmd/clients/main.go
  cmd/coap/main.go
  cmd/domains/main.go
  cmd/groups/main.go
  cmd/http/main.go
  cmd/journal/main.go
  cmd/mqtt/main.go
  cmd/users/main.go
  cmd/ws/main.go
  coap/README.md
  docker/.env
  docker/README.md
  docker/docker-compose.yml
  http/README.md
  mqtt/README.md
  pkg/messaging/README.md
  pkg/messaging/brokers/brokers_nats.go
  pkg/messaging/brokers/brokers_rabbitmq.go
  pkg/messaging/brokers/tracing/brokers_nats.go
  pkg/messaging/brokers/tracing/brokers_rabbitmq.go
  tools/config/golangci.yml
  users/README.md
  ws/README.md
Due: Lint and Test PKG, Lint and Test Tools

feat: replace NATS with RabbitMQ as the default MQTT broker
  .github/workflows/check-license.yaml
  docker/.env
  docker/README.md
  docker/docker-compose.yml
  docker/rabbitmq/enabled_plugins
  docker/rabbitmq/rabbitmq.conf
  docker/vernemq/Dockerfile
  docker/vernemq/bin/vernemq.sh
  docker/vernemq/files/vm.args
Due: none

feat: MQTT Target username and password for authenticated remotes
  cmd/mqtt/main.go
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/setup_test.go
Due: Lint and Test PKG

Revert "test: add auth handler POC"
  cmd/mqtt/main.go
  cmd/rabbitmq-auth/main.go
  docker/docker-compose.yml
  docker/rabbitmq/enabled_plugins
  docker/rabbitmq/rabbitmq.conf
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/setup_test.go
  rabbitmq-auth/api/transport.go
Due: Lint and Test PKG

chore: upgrade go modules
  .github/workflows/api-tests.yml
  .github/workflows/build.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/tests.yml
  docker/.env
  go.mod
  go.sum
Due: none

fix: add autoreconnect and retry connect when creating new mqtt client
  pkg/messaging/mqtt/pubsub.go
Due: Lint and Test PKG

test: add auth handler POC
  Makefile
  cmd/mqtt/main.go
  cmd/rabbitmq-auth/main.go
  docker/docker-compose.yml
  docker/rabbitmq/enabled_plugins
  docker/rabbitmq/rabbitmq.conf
  pkg/messaging/mqtt/publisher.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/setup_test.go
  rabbitmq-auth/api/transport.go
Due: Lint and Test PKG

chore: update go modules
  go.mod
  go.sum
Due: none

fix(websocket): authorization was not working for clients
  ws/adapter.go
  ws/handler.go
Due: none

fix: remove rabbitmq config files from license check
  .github/workflows/check-license.yaml
  cmd/mqtt/main.go
Due: none

fix: remove rabbit-auth after revert
  Makefile
Due: none

Revert "NOISSUE - Use NATS as MQTT broker (#2681)"
  .github/workflows/api-tests.yml
  .github/workflows/build.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/check-license.yaml
  .github/workflows/tests.yml
  docker/.env
  docker/vernemq/Dockerfile
  docker/vernemq/bin/vernemq.sh
  docker/vernemq/files/vm.args
  go.mod
  go.sum
Due: none

fix: revert to QoS 0
  docker/.env
Due: none

chore: update docker images for jaeger, nats and rabbitmq
  docker/docker-compose.yml
Due: none

Revert "feat: use RabbitMQ as default MQTT and Message Broker"
  Makefile
  cmd/auth/main.go
  cmd/channels/main.go
  cmd/clients/main.go
  cmd/coap/main.go
  cmd/domains/main.go
  cmd/groups/main.go
  cmd/http/main.go
  cmd/journal/main.go
  cmd/mqtt/main.go
  cmd/users/main.go
  cmd/ws/main.go
  docker/.env
  docker/README.md
  docker/docker-compose.yml
  pkg/messaging/README.md
  pkg/messaging/brokers/brokers_nats.go
  pkg/messaging/brokers/brokers_rabbitmq.go
  pkg/messaging/brokers/tracing/brokers_nats.go
  pkg/messaging/brokers/tracing/brokers_rabbitmq.go
  tools/config/golangci.yml
  users/README.md
Due: Lint and Test PKG, Lint and Test Tools

style: fix ineffectual assignment to err and add period at the end
  auth/callback.go
Due: none

style: add copyright license
  auth/callback.go
  auth/callback_test.go
Due: none

feat(auth-callout): Enable auth to make external requests for different purposes for policy enforcement
  auth/README.md
  auth/api/http/keys/endpoint_test.go
  auth/callback.go
  auth/callback_test.go
  auth/mocks/callback.go
  auth/service.go
  auth/service_test.go
  cmd/auth/main.go
  docker/.env
  docker/docker-compose.yml
Due: none

fix: add content type to header
  auth/callback.go
Due: none

fix: don't use go routines if there is one URL
  auth/callback.go
Due: none

fix(auth-callout): only support GET and POST http methods
  auth/callback.go
  auth/callback_test.go
  cmd/auth/main.go
Due: none

fix(auth-callout): use sdk error
  auth/callback.go
Due: none

fix: remove content type from GET request
  auth/callback.go
Due: none

fix(auth-callout): use one url and others as fallabcks
  auth/callback.go
Due: none

fix(auth-callout): not pass method as function paramter
  auth/callback.go
Due: none
