Repository rodneyosodo/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools, Users Auth Changes, Things Auth Changes, Messaging Changes

Check Generated Protocol Buffer Files:
  jobs:
  - name: Check Generated Protocol Buffer Files
    commands:
  ...

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Users
    commands:
    - cd users
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build Users:
  jobs:
  - name: Build Users
    commands:
    - make users

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Things
    commands:
    - cd things
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build Things:
  jobs:
  - name: Build Things
    commands:
    - make things

Lint and Test CoAP:
  jobs:
  - name: Lint CoAP
    commands:
    - cd coap
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test CoAP
    commands:
    - cd coap
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build CoAP:
  jobs:
  - name: Build CoAP
    commands:
    - make coap

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test HTTP
    commands:
    - cd http
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build HTTP:
  jobs:
  - name: Build HTTP
    commands:
    - make http

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test MQTT
    commands:
    - cd mqtt
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build MQTT:
  jobs:
  - name: Build MQTT
    commands:
    - make mqtt

Lint and Test WS:
  jobs:
  - name: Lint WS
    commands:
    - cd ws
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test WS
    commands:
    - cd ws
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build WS:
  jobs:
  - name: Build WS
    commands:
    - make ws

Lint and Test Bootstrap:
  jobs:
  - name: Lint Bootstrap
    commands:
    - cd bootstrap
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Bootstrap
    commands:
    - cd bootstrap
  ...

Build Bootstrap:
  jobs:
  - name: Build Bootstrap
    commands:
    - make bootstrap

feat(sdk): tests
  pkg/sdk/go/groups_test.go
  things/api/http/endpoints_test.go
Due: Lint and Test PKG

feat(users): add api tests
  pkg/sdk/go/users_test.go
Due: Lint and Test PKG

fix: sdk tests
  pkg/sdk/go/groups_test.go
Due: Lint and Test PKG

update api docs
  api/openapi/auth.yml
  api/openapi/things.yml
  api/openapi/users.yml
  auth/api/http/domains/endpoint_test.go
  auth/api/http/domains/transport.go
  pkg/sdk/go/channels.go
  pkg/sdk/go/things.go
  things/api/http/channels.go
  things/api/http/clients.go
  things/api/http/endpoints_test.go
  users/api/endpoint_test.go
  users/api/groups.go
Due: Lint and Test PKG

fix after rebase
  eventlogs/mocks/repository.go
  eventlogs/mocks/service.go
Due: none

use slog for logging as mglogger was deprecated
  .github/workflows/tests.yml
  cmd/event-logs/main.go
  eventlogs/api/transport.go
  eventlogs/middleware/logging.go
  eventlogs/service_test.go
  users/api/endpoint_test.go
Due: none

refactor(activitylog): remove id from activity
  activitylog/activity.go
  activitylog/activity_test.go
  activitylog/api/endpoint_test.go
  activitylog/api/requests.go
  activitylog/api/requests_test.go
  activitylog/api/transport.go
  activitylog/consumer.go
  activitylog/consumer_test.go
  activitylog/middleware/logging.go
  activitylog/middleware/tracing.go
  activitylog/postgres/activity.go
  activitylog/postgres/activity_test.go
  activitylog/postgres/init.go
  activitylog/service.go
  activitylog/service_test.go
  internal/api/common.go
Due: Lint and Test Internal

feat: add direction parameter
  api/openapi/event-logs.yml
  eventlogs/api/endpoint_test.go
  eventlogs/api/requests.go
  eventlogs/api/transport.go
  eventlogs/events.go
  eventlogs/postgres/events.go
  eventlogs/postgres/events_test.go
  internal/api/common.go
Due: Lint and Test Internal

feat: add with_payload parameter
  api/openapi/event-logs.yml
  eventlogs/api/endpoint_test.go
  eventlogs/api/transport.go
  eventlogs/events.go
  eventlogs/postgres/events.go
  eventlogs/postgres/events_test.go
  pkg/sdk/go/sdk.go
Due: Lint and Test PKG

fix: failing tests due to change in events structure
  bootstrap/events/producer/streams_test.go
  pkg/events/redis/publisher.go
  pkg/events/redis/publisher_test.go
  pkg/events/redis/subscriber.go
Due: Lint and Test PKG

refactor(activitiylog): change format to activity
  activitylog/activity.go
  activitylog/activity_test.go
  activitylog/api/endpoint_test.go
  activitylog/api/requests.go
  activitylog/api/requests_test.go
  activitylog/api/transport.go
  activitylog/consumer.go
  activitylog/consumer_test.go
  activitylog/middleware/logging.go
  activitylog/middleware/tracing.go
  activitylog/postgres/activity.go
  activitylog/postgres/activity_test.go
  activitylog/postgres/init.go
  activitylog/postgres/setup_test.go
  activitylog/service.go
  activitylog/service_test.go
  api/openapi/activitylog.yml
  bootstrap/events/consumer/events.go
  bootstrap/events/consumer/streams.go
  bootstrap/events/producer/events.go
  docker/addons/activitylog/docker-compose.yml
  internal/api/common.go
  internal/apiutil/errors.go
  internal/groups/events/events.go
  lora/events/events.go
  lora/events/streams.go
  mqtt/events/events.go
  mqtt/events/streams.go
  opcua/events/streams.go
  pkg/events/events.go
  things/events/events.go
  users/events/events.go
Due: Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test PKG

feat(activity-log): add db indexes
  .github/workflows/tests.yml
  activitylog/postgres/init.go
  cmd/activitylog/main.go
Due: none

feat(activitylog): add schemathesis
  .github/workflows/api-tests.yml
  .github/workflows/tests.yml
  Makefile
  activitylog/activity.go
  activitylog/activity_test.go
  activitylog/api/transport.go
  activitylog/postgres/activity.go
  activitylog/postgres/activity_test.go
  activitylog/postgres/setup_test.go
  api/openapi/activitylog.yml
  api/openapi/notifiers.yml
  internal/api/common.go
  internal/apiutil/errors.go
Due: Lint and Test Internal

refactor(activitylog): Refactor authorization
  activitylog/activity.go
  activitylog/api/endpoint.go
  activitylog/api/endpoint_test.go
  activitylog/api/requests.go
  activitylog/api/requests_test.go
  activitylog/api/transport.go
  activitylog/middleware/logging.go
  activitylog/middleware/metrics.go
  activitylog/middleware/tracing.go
  activitylog/mocks/service.go
  activitylog/service.go
  activitylog/service_test.go
Due: none

refactor(policies): delete policy if save fails
  internal/groups/service.go
  internal/groups/service_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/things_test.go
  things/service.go
  things/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

fix(errors): move rollback error from repository
  auth/postgres/domains.go
  internal/groups/service.go
  pkg/errors/repository/types.go
  pkg/errors/types.go
  things/service.go
  users/service.go
Due: Lint and Test Internal, Lint and Test PKG

fix: rename healthcheckfailed error to errnotserving
  pkg/auth/client.go
  pkg/auth/client_test.go
Due: Lint and Test PKG

test(grpc): change tests to correspond with new changes
  auth/api/grpc/endpoint_test.go
  pkg/auth/client_test.go
  pkg/auth/connect_test.go
  things/api/grpc/endpoint_test.go
Due: Lint and Test PKG

refactor(docker): update service depending on auth
  docker/docker-compose.yml
Due: none

feat(grpc): validate the gprc server is healthy
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/invitations/main.go
  cmd/mongodb-reader/main.go
  cmd/mqtt/main.go
  cmd/postgres-reader/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  internal/server/grpc/grpc.go
  pkg/auth/client.go
  pkg/auth/client_test.go
  pkg/auth/connect.go
Due: Lint and Test Internal, Lint and Test PKG

deploy: 27f5fb86886ea036e309067ca944a998570a1f30
  apis/api/openapi/auth.yml
  apis/api/openapi/invitations.yml
Due: none

feat(auth): add delete entity's policies
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/endpoint_test.go
  auth/api/grpc/requests.go
  auth/api/grpc/responses.go
  auth/api/grpc/server.go
  auth/api/logging.go
  auth/api/metrics.go
  auth/domains.go
  auth/mocks/auth_client.go
  auth/mocks/authz.go
  auth/mocks/domains.go
  auth/mocks/service.go
  auth/policies.go
  auth/postgres/domains.go
  auth/service.go
  auth/tracing/tracing.go
  auth_grpc.pb.go
  internal/groups/service_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/sdk.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/users_test.go
  things/service.go
  things/service_test.go
  things/standalone/standalone.go
  users/api/logging.go
  users/service.go
  users/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

feat(cli): add delete command
  cli/users.go
  pkg/sdk/go/sdk.go
  pkg/sdk/go/users.go
  pkg/sdk/mocks/sdk.go
Due: Lint and Test PKG

feat(users): add delete endpoint
  users/service.go
  users/service_test.go
Due: none

refactor(auth): add group policy deletion to auth
  auth.proto
  auth/service.go
  internal/groups/service.go
  internal/groups/service_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/things_test.go
  things/postgres/clients_test.go
  things/service.go
  users/service.go
Due: Lint and Test Internal, Lint and Test PKG

feat(repository): Add delete method for clients
  pkg/clients/clients.go
  pkg/clients/postgres/clients.go
  pkg/clients/postgres/clients_test.go
  things/postgres/clients.go
  things/postgres/clients_test.go
  users/mocks/repository.go
Due: Lint and Test PKG

feat(users): add delete endpoint
  users/api/clients.go
  users/api/endpoints.go
  users/api/logging.go
  users/api/metrics.go
  users/api/responses.go
  users/clients.go
  users/events/events.go
  users/events/streams.go
  users/mocks/service.go
  users/service.go
  users/tracing/tracing.go
Due: none

fix after rebase
  internal/apiutil/errors.go
  pkg/sdk/go/users_test.go
  users/api/endpoint_test.go
Due: Lint and Test Internal, Lint and Test PKG

fix(auth): remove domain policies for groups and things
  auth/service.go
Due: none

feat(auth): delete policies in one req
  auth/service.go
  auth/spicedb/policies.go
Due: none

add tests
  auth/api/grpc/endpoint_test.go
  auth/postgres/domains_test.go
  pkg/sdk/go/users_test.go
  users/api/endpoint_test.go
Due: Lint and Test PKG

fix(cli): add host and invitations url to config
  cli/config.go
  cmd/cli/main.go
  config.toml
Due: none

docs(delete-user): Add docs for DeleteHandler cron job
  users/delete_handler.go
Due: none

feat(users): add delete process as background job
  cmd/users/main.go
  docker/.env
  docker/docker-compose.yml
  pkg/clients/status.go
  pkg/clients/status_test.go
  users/README.md
  users/delete_handler.go
  users/service.go
  users/service_test.go
Due: Lint and Test PKG

fix(users): enable to change your status
  auth/events/streams.go
  pkg/sdk/go/setup_test.go
  pkg/sdk/go/users_test.go
  users/service.go
  users/service_test.go
Due: Lint and Test PKG

add users api docs for delete user
  api/openapi/users.yml
Due: none

Fix: rebase errors
  journal/journal.go
  pkg/sdk/go/journal.go
Due: Lint and Test PKG

Fix: rebase errors
  cmd/journal/main.go
  journal/api/endpoint.go
  journal/api/endpoint_test.go
  journal/api/requests.go
  journal/api/requests_test.go
  journal/api/transport.go
  journal/journal_test.go
  journal/postgres/journal.go
  journal/postgres/setup_test.go
Due: none

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/things/policies/auth.proto, .semaphore/users/policies/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
  Users Auth Changes: any of: .semaphore/users/policies/auth.proto
  Things Auth Changes: any of: .semaphore/things/policies/auth.proto
  Messaging Changes: any of: .semaphore/pkg/messaging/message.proto
