Repository rodneyosodo/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools, Users Auth Changes, Things Auth Changes, Messaging Changes

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/things/policies/auth.proto, .semaphore/users/policies/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
  Users Auth Changes: any of: .semaphore/users/policies/auth.proto
  Things Auth Changes: any of: .semaphore/things/policies/auth.proto
  Messaging Changes: any of: .semaphore/pkg/messaging/message.proto

add tests
  auth/jwt/token_test.go
  auth/jwt/tokenizer.go
  cmd/auth/main.go
  cmd/users/main.go
  users/service_test.go
Due: none

Refactored test files to use non nil oauth2mock.
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  users/api/endpoint_test.go
Due: Lint and Test PKG

enhance godocs and add default timeout for http clients
  pkg/oauth2/google/oauth2.go
  pkg/oauth2/oauth2.go
  users/clients.go
  users/service.go
Due: Lint and Test PKG

make factory function more generic
  .github/workflows/check-generated-files.yml
  auth.pb.go
  auth/jwt/tokenizer.go
  auth_grpc.pb.go
  cmd/auth/main.go
  cmd/users/main.go
  pkg/messaging/message.pb.go
  pkg/oauth2/google/oauth2.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  users/api/clients.go
  users/api/endpoint_test.go
  users/api/transport.go
Due: Lint and Test PKG

Fix tests for token with OAuth
  auth/jwt/token_test.go
  auth/jwt/tokenizer.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  users/api/endpoint_test.go
  users/service_test.go
Due: Lint and Test PKG

Fix tests for token with OAuth
  auth/jwt/token_test.go
  auth/jwt/tokenizer.go
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  users/api/endpoint_test.go
  users/service_test.go
Due: Lint and Test PKG

Updated version numbers for dependencies
  .github/workflows/check-generated-files.yml
  auth.pb.go
  cmd/auth/main.go
  cmd/users/main.go
  pkg/messaging/message.pb.go
  users/api/clients.go
Due: Lint and Test PKG

fix(auth/jwt): fix error handling in parseOAuthToken
  auth/jwt/tokenizer.go
Due: none

rename files from oauth2.go to provider.go
  pkg/oauth2/google/provider.go
Due: Lint and Test PKG

rename profile to userdetails
  pkg/oauth2/google/provider.go
  pkg/oauth2/mocks/provider.go
  pkg/oauth2/oauth2.go
  users/api/clients.go
Due: Lint and Test PKG

add providerName as a constant
  pkg/oauth2/google/provider.go
  pkg/oauth2/oauth2.go
Due: Lint and Test PKG

remove OAuth2.0 tokens from magistrala token
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/requests.go
  auth/api/grpc/server.go
  auth/api/http/keys/endpoint_test.go
  auth/jwt/token_test.go
  auth/jwt/tokenizer.go
  auth/keys.go
  auth/service.go
  auth/service_test.go
  cmd/auth/main.go
  docker/docker-compose.yml
  pkg/oauth2/google/provider.go
  pkg/oauth2/mocks/provider.go
  pkg/oauth2/oauth2.go
  users/api/clients.go
  users/api/logging.go
  users/api/metrics.go
  users/clients.go
  users/events/events.go
  users/events/streams.go
  users/mocks/service.go
  users/service.go
  users/service_test.go
  users/tracing/tracing.go
Due: Lint and Test PKG

Refactor OAuth token parsing and handling
  auth/jwt/token_test.go
  auth/jwt/tokenizer.go
  auth/keys.go
Due: none

feat(auth/jwt): improve token parsing and issuance
  auth/jwt/token_test.go
  auth/jwt/tokenizer.go
  auth/service.go
Due: none

split parse token function to 3 different functions
  auth/jwt/tokenizer.go
Due: none

seperate userdetails to exchange and userinfo
  pkg/oauth2/google/provider.go
  pkg/oauth2/mocks/provider.go
  pkg/oauth2/oauth2.go
  users/api/clients.go
Due: Lint and Test PKG

feat(transformers): convert absolute time to unix nano
  pkg/transformers/json/transformer.go
  pkg/transformers/senml/transformer.go
  pkg/transformers/senml/transformer_test.go
  pkg/transformers/transformer.go
  pkg/transformers/transformer_test.go
Due: Lint and Test PKG

check USER_TOKEN is not empty
  Makefile
Due: none

add domain login
  .github/workflows/api-tests.yml
Due: none

remove svcerr errors from repository layer
  users/postgres/clients.go
  users/postgres/clients_test.go
Due: none

Refactor API test arguments to remove deprecated options
  .github/workflows/api-tests.yml
  Makefile
Due: none

Add property based testing to users API using schemathesis
  .github/workflows/api-tests.yml
  .gitignore
  Makefile
  api/openapi/users.yml
  auth/postgres/domains.go
  auth/service.go
  internal/api/common.go
  internal/api/common_test.go
  internal/apiutil/errors.go
  internal/groups/api/responses.go
  internal/groups/postgres/groups.go
  internal/groups/service.go
  internal/groups/service_test.go
  internal/postgres/common.go
  invitations/api/endpoint_test.go
  invitations/api/requests_test.go
  invitations/invitations.go
  invitations/invitations_test.go
  invitations/service_test.go
  pkg/clients/postgres/clients.go
  pkg/clients/status.go
  pkg/errors/repository/types.go
  pkg/errors/service/types.go
  pkg/errors/types.go
  pkg/groups/errors.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/users_test.go
  things/service.go
  things/service_test.go
  users/api/clients.go
  users/api/endpoint_test.go
  users/api/responses.go
  users/postgres/clients.go
  users/service.go
  users/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

fix ranges for ns ms us and s
  pkg/transformers/senml/transformer.go
  pkg/transformers/transformer.go
  pkg/transformers/transformer_test.go
Due: Lint and Test PKG

simplify and use switch statement
  pkg/transformers/transformer.go
Due: Lint and Test PKG

fix(cli): fix `provision test` command
  cli/config.go
  cli/provision.go
  config.toml
  go.mod
  pkg/sdk/go/channels.go
  pkg/sdk/go/domains.go
  pkg/sdk/go/sdk.go
  pkg/sdk/mocks/sdk.go
  things/postgres/clients_test.go
  tools/provision/provision.go
Due: Lint and Test PKG, Lint and Test Tools

Add property based testing to notifiers API using schemathesis
  .github/workflows/api-tests.yml
  Makefile
  api/openapi/http.yml
  api/openapi/invitations.yml
  api/openapi/notifiers.yml
  api/openapi/things.yml
  api/openapi/users.yml
  consumers/notifiers/api/transport.go
  internal/api/common.go
Due: Lint and Test Internal

deploy: 75db28c5221414076d6c73176eaaa55aff1c5c88
  CNAME
  apis/api/openapi/auth.yml
  apis/api/openapi/bootstrap.yml
  apis/api/openapi/certs.yml
  apis/api/openapi/http.yml
  apis/api/openapi/invitations.yml
  apis/api/openapi/notifiers.yml
  apis/api/openapi/provision.yml
  apis/api/openapi/readers.yml
  apis/api/openapi/schemas/HealthInfo.yml
  apis/api/openapi/things.yml
  apis/api/openapi/twins.yml
  apis/api/openapi/users.yml
  swagger-config.json
Due: none

feat(docker): Use buildx to generate multiplatform builds
  .github/workflows/build.yml
  Makefile
Due: none

Update Makefile
  Makefile
Due: none

fix(auth): enable token identification for refresh token
  auth/service.go
  auth/service_test.go
Due: none

feat(users): disable login for disabled users
  pkg/sdk/go/tokens_test.go
  things/service_test.go
  users/service.go
  users/service_test.go
Due: Lint and Test PKG

feat(errors): Add status code and log level
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Due: Lint and Test PKG

deploy: d62982b4b6a885aa9c11c7a9daaf0b7919b55432
  apis/api/openapi/auth.yml
  apis/api/openapi/http.yml
  apis/api/openapi/notifiers.yml
  apis/api/openapi/things.yml
  apis/api/openapi/twins.yml
  apis/api/openapi/users.yml
Due: none

refactor(errors): remove unused errors
  auth/domains.go
  auth/jwt/token_test.go
  auth/jwt/tokenizer.go
  auth/keys.go
  certs/pki/vault.go
  coap/adapter.go
  consumers/writers/influxdb/setup_test.go
  http/handler.go
  internal/apiutil/errors.go
  internal/email/email.go
  pkg/clients/errors.go
  pkg/errors/repository/types.go
  pkg/errors/service/types.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/mqtt/setup_test.go
  pkg/sdk/go/message_test.go
  twins/events/twins.go
  users/service_test.go
  ws/adapter.go
  ws/adapter_test.go
  ws/api/endpoints.go
  ws/handler.go
Due: Lint and Test Internal, Lint and Test PKG

update sdk
  api/openapi/auth.yml
  api/openapi/things.yml
  api/openapi/users.yml
  pkg/sdk/go/channels.go
  pkg/sdk/go/domains.go
  pkg/sdk/go/groups.go
  pkg/sdk/go/things.go
  pkg/sdk/go/users.go
  things/api/http/endpoints_test.go
  users/api/endpoint_test.go
Due: Lint and Test PKG

fix(api tests): add missing tests
  pkg/sdk/go/channels.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/things.go
  pkg/sdk/go/things_test.go
Due: Lint and Test PKG

fix: ci
  pkg/sdk/go/users_test.go
Due: Lint and Test PKG

fix: users api tests
  pkg/sdk/go/users_test.go
Due: Lint and Test PKG

update api endpoints
  auth/api/http/domains/transport.go
  things/api/http/channels.go
  things/api/http/clients.go
  users/api/clients.go
  users/api/groups.go
Due: none
