Repository rodneyosodo/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools, Users Auth Changes, Things Auth Changes, Messaging Changes

Check Generated Protocol Buffer Files:
  jobs:
  - name: Check Generated Protocol Buffer Files
    commands:
  ...

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Users
    commands:
    - cd users
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build Users:
  jobs:
  - name: Build Users
    commands:
    - make users

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Things
    commands:
    - cd things
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build Things:
  jobs:
  - name: Build Things
    commands:
    - make things

Lint and Test CoAP:
  jobs:
  - name: Lint CoAP
    commands:
    - cd coap
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test CoAP
    commands:
    - cd coap
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build CoAP:
  jobs:
  - name: Build CoAP
    commands:
    - make coap

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test HTTP
    commands:
    - cd http
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build HTTP:
  jobs:
  - name: Build HTTP
    commands:
    - make http

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test MQTT
    commands:
    - cd mqtt
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build MQTT:
  jobs:
  - name: Build MQTT
    commands:
    - make mqtt

Lint and Test WS:
  jobs:
  - name: Lint WS
    commands:
    - cd ws
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test WS
    commands:
    - cd ws
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Build WS:
  jobs:
  - name: Build WS
    commands:
    - make ws

Lint and Test Bootstrap:
  jobs:
  - name: Lint Bootstrap
    commands:
    - cd bootstrap
    - cache restore linter
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Bootstrap
    commands:
    - cd bootstrap
  ...

Build Bootstrap:
  jobs:
  - name: Build Bootstrap
    commands:
    - make bootstrap

feat(config): update remotes URLs
  config.toml
Due: none

Use gotrue for users service
  auth/service.go
  cmd/users/main.go
  docker/.env
  docker/docker-compose.yml
  docker/gotrue/init.sh
  internal/goture/sdk.go
  tools/e2e/e2e.go
  users/service.go
Due: Lint and Test Internal, Lint and Test Tools

Use kratos for users service
  auth/service.go
  cmd/users/main.go
  docker/.env
  docker/docker-compose.yml
  docker/kratos/identity.schema.json
  docker/kratos/kratos.yml
  go.mod
  internal/kratos/sdk.go
  tools/e2e/e2e.go
  users/service.go
Due: Lint and Test Internal, Lint and Test Tools

refactor(kratos): Add github as Identity Provider
  docker/.env
  docker/kratos/kratos.yml
  docker/kratos/mapping/github.jsonnet
  docker/kratos/mapping/google.jsonnet
Due: none

add kratos repository layer
  cmd/users/main.go
  docker/.env
  docker/docker-compose.yml
  go.mod
  go.sum
  pkg/clients/status.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  tools/e2e/e2e.go
  users/kratos/repository.go
  users/service.go
  users/service_test.go
Due: Lint and Test PKG, Lint and Test Tools

clean up users
  cmd/users/main.go
  pkg/clients/postgres/setup_test.go
  users/clients.go
  users/kratos/repository.go
  users/postgres/clients.go
  users/postgres/clients_test.go
  users/postgres/doc.go
  users/postgres/init.go
  users/postgres/setup_test.go
  users/service.go
Due: Lint and Test PKG

filter users
  users/kratos/repository.go
Due: none

integrate kratos as an oauth2 provider
  cmd/users/main.go
  docker/.env
  docker/docker-compose.yml
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
  go.mod
  go.sum
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  users/api/clients.go
  users/api/endpoint_test.go
  users/api/logging.go
  users/api/metrics.go
  users/api/transport.go
  users/clients.go
  users/events/events.go
  users/events/streams.go
  users/mocks/service.go
  users/oauth/kratos.go
  users/service.go
  users/tracing/tracing.go
Due: Lint and Test PKG

use kratos as user repository
  cmd/users/main.go
  docker/.env
  docker/docker-compose.yml
  go.mod
  go.sum
  pkg/clients/postgres/setup_test.go
  pkg/clients/status.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  tools/e2e/e2e.go
  users/clients.go
  users/kratos/repository.go
  users/kratos/schema.json
  users/postgres/clients.go
  users/postgres/clients_test.go
  users/postgres/doc.go
  users/postgres/init.go
  users/postgres/setup_test.go
  users/service.go
  users/service_test.go
Due: Lint and Test PKG, Lint and Test Tools

fix(oauth): fix refresh token cookie path
  users/oauth/kratos.go
Due: none

Add UI DB
  docker/.env
  docker/docker-compose.yml
Due: none

Refactor error handling in gRPC API for authentication
  auth/api/grpc/client.go
  auth/api/grpc/server.go
  auth/api/http/keys/endpoint_test.go
  bootstrap/api/endpoint_test.go
  bootstrap/api/transport.go
  certs/api/transport.go
  coap/api/transport.go
  consumers/notifiers/api/transport.go
  internal/api/common.go
  internal/api/common_test.go
  pkg/errors/service/types.go
  things/api/grpc/client.go
  things/api/http/endpoints_test.go
  things/api/http/requests.go
  things/api/http/requests_test.go
  twins/api/http/transport.go
  users/api/endpoint_test.go
Due: Lint and Test Internal, Lint and Test PKG

fix(docs): Update CNAME file with new domain
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

fix(.github/workflows): Update Swagger UI action to use blokovi organization
  CNAME
Due: none

feat(api): update HealthInfo.yml schema
  CNAME
Due: none

update timescale aggregation
  pkg/sdk/go/sdk.go
  readers/messages.go
  readers/timescale/messages.go
Due: Lint and Test PKG

add time-buckets
  pkg/sdk/go/sdk.go
  readers/messages.go
  readers/timescale/messages.go
Due: Lint and Test PKG

add aggregation to timescale
  cli/message.go
  docker/.env
  docker/docker-compose.yml
  pkg/sdk/go/message.go
  pkg/sdk/go/sdk.go
  pkg/sdk/mocks/sdk.go
  readers/api/transport.go
  readers/messages.go
  readers/timescale/messages.go
Due: Lint and Test PKG

fix linter
  pkg/sdk/go/message.go
  readers/timescale/messages.go
Due: Lint and Test PKG

fix CI
  go.mod
  go.sum
  pkg/sdk/mocks/sdk.go
Due: Lint and Test PKG

update error handling after rebase
  users/kratos/repository.go
Due: none

refactor(oauth): rename kratoscallback to oauthcallback
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/requests.go
  auth/api/grpc/server.go
  auth/jwt/tokenizer.go
  auth/keys.go
  auth/kratos/sdk.go
  auth/service.go
  users/api/logging.go
  users/api/metrics.go
  users/clients.go
  users/events/events.go
  users/events/streams.go
  users/kratos/repository.go
  users/kratos/schema.json
  users/mocks/service.go
  users/oauth/kratos.go
  users/service.go
  users/tracing/tracing.go
Due: none

integrate kratos as an oauth2 provider
  users/oauth/kratos.go
Due: none

store kratos token in magistrala token
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/requests.go
  auth/api/grpc/server.go
  auth/api/http/keys/endpoint_test.go
  auth/jwt/token_test.go
  auth/jwt/tokenizer.go
  auth/keys.go
  auth/kratos/sdk.go
  auth/service.go
  auth/service_test.go
  cmd/auth/main.go
  cmd/users/main.go
  docker/docker-compose.yml
  users/api/logging.go
  users/api/metrics.go
  users/clients.go
  users/events/streams.go
  users/kratos/repository.go
  users/mocks/service.go
  users/oauth/kratos.go
  users/service.go
  users/tracing/tracing.go
Due: none

update error handling after rebase
  auth/jwt/tokenizer.go
  auth/kratos/sdk.go
Due: none

introduce oauth interface
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/requests.go
  auth/api/grpc/server.go
  auth/jwt/tokenizer.go
  auth/keys.go
  auth/kratos/sdk.go
  cmd/auth/main.go
  cmd/users/main.go
  docker/.env
  docker/docker-compose.yml
  pkg/oauth/kratos/oauth.go
  pkg/oauth/oauth.go
  users/api/clients.go
  users/api/logging.go
  users/api/metrics.go
  users/api/transport.go
  users/clients.go
  users/events/events.go
  users/events/streams.go
  users/mocks/service.go
  users/oauth/kratos.go
  users/service.go
  users/tracing/tracing.go
Due: Lint and Test PKG

permit authentication for non federated identities
  auth/jwt/tokenizer.go
  docker/docker-compose.yml
Due: none

feat(oauth): pass tokens and errors as cookies
  users/oauth/kratos.go
Due: none

add redirect to error page
  cmd/auth/main.go
  cmd/users/main.go
  docker/.env
  docker/docker-compose.yml
  pkg/oauth/kratos/oauth.go
  pkg/oauth/oauth.go
Due: Lint and Test PKG

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/things/policies/auth.proto, .semaphore/users/policies/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
  Users Auth Changes: any of: .semaphore/users/policies/auth.proto
  Things Auth Changes: any of: .semaphore/things/policies/auth.proto
  Messaging Changes: any of: .semaphore/pkg/messaging/message.proto
